<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" xmlns="http://www.w3.org/1999/xhtml" lang="es">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Archibaldo</title>
</head>
<body>

<header>
    <nav role="navigation" class="indigo lighten-1">
        <div class="col s12">
        <div class="nav-wrapper container indigo lighten-1">
            <a href="#"><i class="material-icons left">school</i>Liceo Manuel Farfan Castro</a>
            <ul class="right hide-on-med-and-down">
                <li id="alumnos-tab"><a href="">Alumnos</a></li>
                <li id="mensajes-tab"><a href="">Mensajes</a></li>
                <li id="estadisticas-tab"><a href="">Estadisticas</a></li>
                <li id="administracion-tab" ><a href="">Administracion</a></li>
                <li id="salir-tab"><a href="">Salir</a></li>
            </ul>
        </div>
        </div>
    </nav>
</header>
<main >
    <div class="container" layout:fragment="content" style="margin-top: 1%">

    </div>
</main>

<footer class="footer indigo lighten-1">
    <div class="container">
        <div class="row">
    </div>
    </div>
    <div class="footer-copyright">
        <div class="container">Hecho por <a href="">TODOS </a></div>
    </div>
</footer>

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script th:src="@{/js/materialize.js}"></script>
<script>
    $('.datepicker').pickadate({
        selectMonths: true, // Creates a dropdown to control month
        selectYears: 15 // Creates a dropdown of 15 years to control year
    });

    $(document).ready(function(){
        $('.collapsible').collapsible({
            accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
        });
    });


</script>
</body>
</html>

