<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="templates/layout">

<body>
<div layout:fragment="content">
    <div class="container">

    <div class="col s12">
        <h1># Grado</h1>

        <table>
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Inasistencia</th>
                <th>Permisos</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td>Juan</td>
                <td>Perez</td>
                <td>50</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Juan</td>
                <td>Perez</td>
                <td>1</td>
                <td>2</td>
            </tr>
            <tr>
                <td>Juan</td>
                <td>Perez</td>
                <td>31</td>
                <td>5</td>
            </tr>
            </tbody>
        </table>

    </div>

    </div>
</div>
</body>
</html>