<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="templates/layout">
<body>
<div th:fragment="modal">
    <div id="gradosModal" class="modal">
        <div class="modal-content">

            <div class="container">
                <div class="row">
                    <div class="col s12">
                        <form class="col s12">
                            <div class="row">
                                <div class="input-field col s6">
                                    <input  id="grado" type="text" class="validate">
                                    <label for="grado">Grado</label>
                                </div>

                                <div class="input-field col s6">
                                    <input  id="seccion" type="text" class="validate">
                                    <label for="seccion">Seccion</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col s6">
                                    <input  id="entrada" type="text" class="validate">
                                    <label for="entrada">Hora Entrada</label>
                                </div>

                                <div class="input-field col s6">
                                    <input  id="salida" type="text" class="validate">
                                    <label for="salida">Hora Salida</label>
                                </div>

                            </div>
                            <input type="submit" value="Guardar" class="btn waves-effect waves-light">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
        </div>
    </div>
</div>
</body>
</html>